* {
    box-sizing: border-box;
  }

  body {
    font: 1.5rem/1.5 sans-serif;
    color: #000000;
    margin: 0;
    padding: 0 3.2rem 2.4rem;
    background-color: rgb(218, 216, 216);
}
h1{
    color: rgb(12, 12, 12);
    font-family: 'Black Han Sans', sans-serif;;
    font: 2.4rem;
}  

  textarea {
    display: block;
    border-radius: 0.4rem;
    border-top: 10px;
  }
  
  textarea,
  form select {
    background: rgb(255, 255, 255);
    border: 1px solid #d8ecff;
  }
  
  form select, 
  form button {
    display: inline-block;
    margin: 2rem 1rem 0 0;
    height: 3rem;
  }
  
  #formAddButton {
    background-color: #5382b8;
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  #formAddButton:hover{
      background-color: rgb(32, 230, 236);
  }
  
  .delButton {
    background-color: #921b1b;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    display: inline-block;
    width: 5rem ;
    height: 1.6rem;
    font-family: sans-serif;
  }
  .delButton:hover{
      background-color: red;
  }

  #notes {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
  }
  
  .note {
    width: 24rem;
    height: 20rem;
    font-size: 1.4rem;
    background: rgb(255, 252, 252);
    border-radius: 0.4rem;
    padding: 1rem 1.6rem;
    margin: 2.4rem 2.4rem 0 0;
    box-shadow: 0 1.2rem 1.2rem rgba(0,0,0, 0.1);
    position: relative;
    font-family: 'Indie Flower', cursive;
  }
  
  .note-text {
    height: 100%;
    overflow-y: auto;
  }
  
  .note span:hover {
    color: rgb(5, 137, 199);
    background: #e0e0e0;
    cursor: pointer;
  }

  .note::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.8rem;
    border-radius: 5px;
    color: black;
  }
  
  .note.pink::after {
    background-color: rgb(235, 104, 104);
  }
  
  .note.blue::after {
    background-color: rgb(45, 175, 255);
  }
  .note.green::after {
    background-color: rgb(131, 255, 131);
  }
  .note.yellow::after {
    background-color: rgba(247, 243, 31, 0.938);
  }